<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyze Favorite Teams</title>
    <!-- <link rel="stylesheet" href="css/mini-default.min.css"> -->
</head>
<body>
    <h1>Favorite Teams</h1>
    <div id="app">
        <h2 v-if="false"><i>Loading...</i></h2>
        <div>
            <label for="sorter">Sort by:</label>
            <select name="sorter" id="sorter" @change="resort(sortingMethod)" v-model="sortingMethod">
                <option value="natural">Order of entry</option>
                <option value="number">Team number</option>
                <option value="auto">Avg. autonomous score</option>
                <option value="delivery">Avg. delivery</option>
                <option value="stack">Avg. stack level</option>
                <option value="teleop">Avg. TeleOp score</option>
                <option value="endgame">Avg. endgame score</option>
                <option value="total">Avg. total score</option>
            </select>
            <br>
            <br>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Period</th>
                    <th>Task</th>
                    <th v-for="team in favoriteTeams" v-cloak>{{ team }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">Autonomous</td>
                    <td v-for="team in favoriteTeams" v-cloak>
                        <canvas v-bind:id="'graph-auto-' + team" width="190" height="140"></canvas>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/2022-ash-blue.png" alt="Auto ASH placement"></td>
                    <td v-for="team in favoriteTeams" v-cloak>
                        <canvas v-bind:id="'graph-auto-ash-' + team" width="190" height="140"></canvas>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/2022-preload-scored.png" alt=""></td>
                    <td v-for="team in favoriteTeams" v-cloak>
                        <scoring-summary period="auto" task="deliveredPreLoaded" v-bind:team="team"></scoring-summary>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/2022-duck.png"></td>
                    <td v-for="team in favoriteTeams" v-cloak>
                        <scoring-summary period="auto" task="deliveredCarouselDuck" v-bind:team="team"></scoring-summary>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">TeleOp</td>
                    <td><img src="assets/deliver_neutral.png" alt="Deliveries"></td>
                    <td v-for="team in favoriteTeams" v-cloak>
                        <canvas v-bind:id="'graph-teleop-delivery-' + team" width="190" height="140"></canvas>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/2022-ash-blue.png" alt="ASH TeleOp"></td>
                    <td v-for="team in favoriteTeams" v-cloak>
                        <canvas v-bind:id="'graph-teleop-freight-' + team" width="190" height="140"></canvas>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/2022-su-blue.png" alt="Shared hub TeleOp"></td>
                    <td v-for="team in favoriteTeams" v-cloak>
                        <canvas v-bind:id="'graph-teleop-su-' + team" width="190" height="140"></canvas>
                    </td>
                </tr>
                <tr>
                    <td rowspan="3">Endgame</td>
                    <td><img src="assets/capstone_blue_one.png" alt="TSE capping"></td>
                    <td v-for="team in favoriteTeams" v-cloak>
                        <scoring-summary period="endgame" task="tseScored" v-bind:team="team"></scoring-summary>
                    </td>
                </tr>
                <tr>
                    <td><img src="assets/parking_blue20.png" alt="Park in Build Site"></td>
                    <td v-for="team in favoriteTeams" v-cloak>
                        <scoring-summary period="endgame" task="parked" v-bind:team="team"></scoring-summary>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="js/vendor.js"></script>
    <script src="js/analyze_favorites.js"></script>
    <style>
        body {
            font-size: 100%;
        }
        img {
            width: 60px;
        }
        .scoring-result {
            width: 25px;
            height: 25px;
            font-size: 25px;
        }
        .scoring-result[value="dnt"]::before {
            color: #777;
            content: '∅';
        }
        .scoring-result[value="failed"]::before {
            color: #a10;
            content: '×';
        }
        .scoring-result[value="scored"]::before {
            color: #081;
            content: '✓';
        }
        .scoring-results {
            text-align: center;
        }
        .capstone-result {
            font-size: 24px;
        }
    </style>
</body>
</html>